<div class="howlr-header">
	<p><a class="btn btn-danger" href="/howls">Howlr</a></p>
</div>

<div class="howl-info">
	<div class="need-to-howl">
		<p><a class="btn btn-danger" href="/howls/new">NEED TO HOWL?</a></p>
	</div>
	<div class="see-pack">
		<p><a class="btn btn-danger" href="/wolves">SEE THE PACK</a></p>
	</div>
	<br>
	<h2>Here are the last 5 howls from your pack:</h2>

		<% @howls.each do |howl| %>
				<div class="howl-container">
					<div class="pack-image-container">
						<img class="howl-image" src='<%= howl.wolf.image %>' >
					</div>
					<div class="howl-info-container">
						<div class="wolf-name">
							<h3><%= howl.wolf.name %></h3>
						</div>
						<div class="text-image">
							<img class="text-image-move" src='<%= howl.image %>'>
						</div>
						<br>
						<div class="text">
							<h5><%= howl.text %></h5>
						</div>
					</div>
				</div>	
		<% end %>	
			<% if @howls.length >= 5 %>
			<div class="see-previous">
					<p><a class="btn btn-danger" href="/howls?offset=<%=@offset.to_i + 5%>" >SEE PREVIOUS HOWLS</a></p>
			</div>
			<% end %>
	<div class="see-newer">
		<% if @offset != '0' && @offset != 0%>
		  <p><a class="btn btn-danger" href="/howls?offset=<%=@offset.to_i - 5%>">SEE NEWER HOWLS</a></p>
		<% end %>
	</div>



</div>
