<div class="howlr-header">
	<p><a class="btn btn-danger" href="/howls">Howlr</a></p>
</div>

<div class="pack-header">	
	<h2>You have <%= @wolves.count %> wolves in your pack</h2>	
</div>

<div class="pack-info">
	<% @wolves.each do |w| %>
		<div class="single-wolf">
			<div class="pack-image">
				<img class="wolf-image" src='<%=w.image%>'>
			</div>
			<div class="pack-info-container">
				<div class="pack-name">
					<h5><%= w.name %></h5>
				</div>
				<div class="pack-howl-count">
					<h5><%= w.howls.nil?  ? 0 : w.howls.count %> howls</h5>
				</div>
				<div class="pack-description">
					<h6><%= w.description %></h6>
				</div>
			</div>
		</div>	
	<% end %>
	<div class="to-new-howlr">
		<p><a href="/wolves/new" class="btn btn-danger">New Pack Member</a></p>
	</div>
</div>
